.rightbar-main {
  width: 30%;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--border-color);
}

#search-input {
  width: 85%;
  height: 35px;
  border-radius: 20px;
  border: 2px solid var(--border-color);
  padding: 10px;
  margin-top: 30px;
  background-color: var(--utils-color);
  color: white;
}

.sug-users-main {
  width: 85%;
  background-color: var(--card-color);
  min-height: auto;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 20px;
}

.sugg-User-Card-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid var(--border-color);
  
}

.user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.follow-btn {
  height: 30px;
  width: 100px;
  background-color: var(--utils-color);
  border: none;
  color: white;
  font-size: 17px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
}

.filter-btn-container{
  display: flex;
  gap: 10px;
}

.filter-btn{
  margin-top: 20px;
  height: 30px;
  width: 120px;
  background-color: var(--utils-color);
  border:none;
  color: white;
  font-size: 17px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
}