.sideNav-main{
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--border-color);
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
}

.logout-btn{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    background-color: var(--utils-color);
    border:none;
    color: white;
    font-size: 17px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}